<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Title</h2>
                </div>
            </div>
            <div class="row container">
                <p>Mathmatics of Geometric Deep Learning is an upcoming minisymposium at The 10th International Congress on Industrial and Applied Mathematics (<a href="https://iciam2023.org">ICIAM2023</a> ) at 20-25 Aug. 2023, Waseda University, Tokyo, Japan.

                    Geometric deep learning has important applications in the fields of quantum computing, 3D perception, molecular designs, and the discovery of mathematical theorems. It takes account of properties such as invariance and equivariance. Many existing structure-aware deep networks lack rigorous theoretical foundations of desired properties in modeling, such as network stability, interpretability, and efficient computation. This workshop will gather researchers from mathematics and computer sciences to provide a forum to establish diverse mathematical theories for geometric deep learning, such as harmonic analysis, algebraic topology, algebraic geometry, combinatorics, differential geometry, differential equations, graph theory, approximation theory, statistics, and theoretical computer science.
                </p>

                
                 <center><a href="#" class="page-scroll btn btn-xl">Registration TBA</a></center>
            </div>
        </div>
    </section>
