<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Mathematics of Geometric Deep Learning<br></div>
                <div class="intro-lead-in">August 20-25, 2023</div>
                <div class="intro-lead-in">Tokyo, Japan</div>
                <a href="#intro" class="page-scroll btn btn-xl">Geometric deep learning has important applications in the fields of quantum computing, 3D perception, molecular designs, and the discovery of mathematical theorems. It takes account of properties such as invariance and equivariance. Many existing structure-aware deep networks lack rigorous theoretical foundations of desired properties in modeling, such as network stability, interpretability, and efficient computation. This workshop will gather researchers from mathematics and computer sciences to provide a forum to establish diverse mathematical theories for geometric deep learning, such as harmonic analysis, algebraic topology, algebraic geometry, combinatorics, differential geometry, differential equations, graph theory, approximation theory, statistics, and theoretical computer science. </a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
